# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.xcodeproj
*.xcuserstate

*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
._*.*

.svn/
obj/
bin/*
!bin/data/
build/
xcuserdata/

ipch/
*.suo
*.opensdf
*.vcxproj.user

*.tlog
*.sdf
*.pdb
*.idb
*.pch
Debug/
Release/

*~.xml
*.opendb
*.db
.vs/
